body {

  /*
  * HEADER
  */
  .background {
    background-image: url("../images/background5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 500px;

    .container {
      height: 100%;

      .logo {
        text-align: center;
        color: $white;
        height: 80px;

        img {
          height: 100%;
        }
      }

      .menu {
        ul {
          float: right;
          padding: 20px;
          margin: 0;

          li {
            display: inline-block;
            margin: 0 10px;
            font-size: 0.9rem;
            padding: 5px 0;

            &:hover,
            &:focus,
            &.active {
              border-bottom: 3px solid  $light-blue;
            }

            a {
              text-transform: uppercase;
              color: $white;
            }
          }
        }
      }

      .slogan {
        padding-top: 140px;

        h1 {
          text-transform: uppercase;
          color: $white;
          text-align: center;
        }
      }
    }
  }


  /*
  * SERVICES
  */
  .services {
    margin-top: 30px;
    margin-bottom: 30px;

    h2 {
      color: $dark-blue;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }

    .details {
      &:hover {
        .more-detail {
          background-color: $grey-smooth;

          .picto {
            background-color: $light-blue;
            color: $white;
          }
        }
      }

      .more-detail {
        padding: 15px;
        background-color: $white;

        .picto {
          border-radius: 50%;
          height: 4em;
          width: 4em;
          line-height: 4em;
          display: block;
          text-align: center;
          margin: -35px auto 10px auto;
          background-color: $white;
          color: $light-blue;
          transition: all 0.3s ease-out;
          display: table;

          i {
            font-size: 2rem;
            display: table-cell;
            vertical-align: middle;
          }
        }

        p {
          font-size: 0.9rem;
        }

        a {
          color: $light-blue;
        }
      }
    }
  }


  /*
  * COMPETENCES
  */
  .competences {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: $white;

    h2 {
      color: $blue;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }


  /*
  * FOOTER
  */
  footer {
    background-color: $blue;
    color: $link-footer;
    padding-top: 20px;

    hr {
      border-top: 2px solid $white;
      margin: 10px 0;
    }

    h5 {
      color: $white;
    }

    .footer-entrie {
      font-size: 0.9rem;

      .list-link {
        padding-left: 0;

        a {
          color: $link-footer;
        }
      }

      .phone,
      .mail {
        a {
          color: $link-footer;
          margin-left: 5px;
        }
      }

      .address {
        span {
          margin-left: 5px;
        }
      }
    }

    .network {
      input {
        border: 1px solid $dark-blue;
        background-color: $dark-blue;
        color: $white;
        padding: 5px 0 5px 10px;
        width: 75%;
      }

      .send {
        border: 0 none;
        padding: 5px;
        background-color: $light-blue;
        color: $white;
        width: 25%;
      }

      .list-network {
        padding-left: 0;
        margin-top: 20px;

        li {
          display: inline-block;
          margin: 0 5px;
          font-size: 2rem;

          a {
            color: $white;
          }
        }
      }
    }

    &.copyright {
      background-color: $dark-blue;
      text-align: center;
      color: $link-footer;
      padding: 10px;
      font-size: 0.8rem;

      p {
        margin: 0;
      }
    }
  }

  .presentation {
    margin-top: -50px;

    .image-presentation {
      padding: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .text-presentation {
      padding-top: 20px;
    }
  }
}


/*
* COMMUN
*/
.services,
.competences {
  .description {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
}
