// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$white:                #FFFFFF;
$black:                #000000;
$red:                  #ea6153;
$grey-smooth:          #EFEFEF;
$grey-solid:           #8c9899;
$light-grey:           #ecf0f1;
$blue:                 #3d566e;
$dark-blue:            #2c3e50;
$light-blue:           #4aa3df;

//footer
$link-footer:          #cbd0d3;


$mobile:               380px !default;
$tablet:               769px !default;


$fa-font-path:        "../../bower_components/font-awesome/fonts/" !default;
